* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

:root {
  --Primary: #4f46e5;
  --Background: #f9f9f9;
  --Cards: White;
  --Success: #22c55e;
  --Warning: #f59e0b;
  --Danger: #ef4444;
  --Text: #333;
  --Secondary-Text: #6b7280;
  --Borders: #e1e1e1;
}

button {
  all: unset;
}
